<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Item</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Search Item</h1>

        <form action="/find" method="POST">

            <label>Enter Item ID/Barcode:</label>
            <input type="text" name="item_code" required>

            <button type="submit">Search</button>
        </form>
        <a href="/">Add New Item</a>
        {% if item %}

        <div class="card">
            <h2>{{ item[1] }}</h2>

            <p>
                <strong>Item ID:</strong>
                {{ item[2] }}
            </p>

            <img src="/static/uploads/{{ item[3] }}" alt="Item Photo">

        </div>
        {% endif %}

    </div>
</body>
</html>